footer {
    background-color: var(--darkgray);
    color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 3%;
    font-weight: 600;
}

.contacts,
.map,
.social_media {
    flex: 1;
    margin-right: 20px;
}

p.created {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    color: var(--light);
    background-color: var(--darkgray);
}

.fa-brands {
    margin-right: 10px;
    font-size: 40px;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin {
    padding: 5px;
    color: var(--blue);
}