/* Ece start */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: var(--light);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 24px;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 30px;
}

nav a {
  color: var(--darkgray);
  text-decoration: none;
}

nav a:hover {
  color: var(--pink);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.site-header.visible {
  transform: translateY(0);
}

@media only screen and (max-width: 800px) {
  header {
    font-size: 20px;
  }
}
/* Ece end */