@import "header.css";
@import "index.css";
@import "footer.css";

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* font-family: "DotGothic16", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap");
/* font-family: 'Thasadith', sans-serif; */

body {
	margin: 0;
	font-family: var(--content-font);
}

/* Ece start */
:root {
	--header-font: "DotGothic16", sans-serif;
	--content-font: "Thasadith", sans-serif;
}
/* Ece end */

/* Sandro start */
:root {
	--darkgray: #23221d;
	--pink: #db0080;
	--blue: #2c96b0;
	--light: #eddbc7;
	--green: #2cb098;
	--black: #000;
}

/* Sandro end */

/*Ana start*/
@import "curriculum.css"; /*Ana start*/
